* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  background-color: #1c053d;
  font-size: 16px;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.button-biz {
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding: 13px 55px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  border-radius: 50px;
  line-height: 19px;
  text-transform: uppercase;
  position: relative;
  background-clip: padding-box;
}

.button-biz.button-sm {
  padding: 9px 35px;
}

.button-biz:before {
  position: absolute;
  inset: 0;
  margin: -1px;
  border-radius: inherit;
  background-image: linear-gradient(132.5deg, #E622BD 13.14%, #3830DE 88.66%);
  content: "";
  z-index: -1;
  visibility: hidden;
}

.button-biz:hover, .button-biz.step-1__select.active, .button-biz.step-2__select.active {
  color: #fff;
  background: linear-gradient(132.5deg, #E622BD 13.14%, #3830DE 88.66%);
  border: 1px solid transparent;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button-biz:hover:before, .button-biz.step-1__select.active:before, .button-biz.step-2__select.active:before {
  visibility: visible;
}

.button-register {
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 75px;
  cursor: pointer;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  border-radius: 50px;
  line-height: 29px;
  text-transform: uppercase;
  background-image: linear-gradient(132.5deg, #E622BD 13.14%, #3830DE 88.66%);
}

@media screen and (max-width: 768px) {
  .button-register {
    padding: 15px 50px;
    font-size: 1.2rem;
    line-height: 20px;
  }
}

@media screen and (max-width: 576px) {
  .button-register {
    padding: 12px 40px;
    font-size: 1rem;
    line-height: 20px;
  }
}

.button-register:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.button-biz-2 {
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: 700;
  padding: 0.5rem 2.25rem;
  cursor: pointer;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  line-height: 29px;
  text-transform: uppercase;
  background-image: linear-gradient(132.5deg, #e622bd 13.14%, #3830de 88.66%);
}

.button-biz-2:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.header-section {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  border-image-source: linear-gradient(116.39deg, #3755f0 29.81%, #c00297 96.01%);
  border-image-slice: 1;
}

.header-section .header-section__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: 100%;
  padding: 10px 15px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(14.71%, #1b0441), color-stop(92.65%, #521698));
  background: linear-gradient(360deg, #1b0441 14.71%, #521698 92.65%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  width: 100%;
}

.header-section .header-section__outer .header-section__inner .header-menu-switch {
  display: block;
  position: absolute;
  width: 30px;
  height: 25px;
  z-index: 1;
}

.header-section .header-section__outer .header-section__inner .header-menu-switch .header-menu-switch__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.header-section .header-section__outer .header-section__inner .header-menu-switch .header-menu-switch__line:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header-section .header-section__outer .header-section__inner .header-menu-switch .header-menu-switch__line:nth-child(2) {
  margin: 7px 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header-section .header-section__outer .header-section__inner .header-menu-switch .header-menu-switch__line:nth-child(3) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.header-section .header-section__outer .header-section__inner .header-menu-switch.active .header-menu-switch__line:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-section .header-section__outer .header-section__inner .header-menu-switch.active .header-menu-switch__line:nth-child(2) {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.header-section .header-section__outer .header-section__inner .header-menu-switch.active .header-menu-switch__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-section .header-section__outer .header-section__inner .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_logo {
  margin: auto;
  max-width: 100%;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_logo .header-logo img {
  display: block;
  max-width: 195px;
  height: 23px;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__outer {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__outer.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__outer .header-content-slide__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section {
  margin-top: 20px;
  margin-bottom: 0;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section_menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3 0 0px;
          flex: 1.3 0 0;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__control {
  margin: 0 10px;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-button .header-content-button__button {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-menu .header-menu__item {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-menu .header-menu__link {
  display: block;
  padding: 9px 25px;
  border: 1px solid transparent;
  border-radius: 18px;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .lang-selector-globe .lang-selector-globe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.875rem;
  line-height: 1;
  cursor: pointer;
  color: #ffffff;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .lang-selector-globe .lang-selector-globe__icon {
  width: 24.2px;
  height: 24.2px;
  border-radius: 50%;
  background-image: url("../../img/header/america.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .lang-selector-globe .lang-selector-globe__lang {
  margin-left: 5px;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .lang-selector-globe .lang-selector-globe__angle-down {
  margin-left: 5px;
  width: 11.44px;
  height: 6.36px;
}

@media (min-width: 576px) {
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section_control {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__control {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .header-section .header-section__outer .header-section__inner .header-menu-switch {
    display: none;
  }
  .header-section .header-section__outer .header-section__inner .header-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_logo .header-logo img {
    height: 35px;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
    overflow: visible;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__outer .header-content-slide__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section_control {
    margin-right: auto;
    margin-left: auto;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .header-section .header-section__outer .header-section__inner .header-menu-switch {
    display: none;
  }
  .header-section .header-section__outer .header-section__inner .header-content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_logo {
    width: 350px;
  }
  .header-section .header-section__outer .header-section__inner .header-content .header-content__section_slide .header-content-slide .header-content-slide__section_control {
    width: 380px;
  }
}

.slider {
  padding-top: 90px;
}

.header-main-banner .header-main-banner__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 15px 33px;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner {
  max-width: 100%;
  width: 1155px;
  margin: 0 auto;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__header {
  margin-bottom: 20px;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider {
  margin: 5% auto;
  max-width: 1155px;
  position: relative;
  min-height: 370px;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .banner-frame {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #71559c;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item {
  min-width: 80px;
  padding: 20px 0;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  margin: 0;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item.active {
  background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__message {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-align: center;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__progress-bar {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0px;
  height: 2px;
  background: linear-gradient(99.56deg, #3755f0 13.92%, #c00297 36.81%);
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__progress-bar.active {
  width: 100%;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__progress-bar.run-progress-bar {
  -webkit-animation: progres 4s linear;
          animation: progres 4s linear;
}

@-webkit-keyframes progres {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progres {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .navigation {
  display: none;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-mobile {
  display: none;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content {
  padding: 28px 0;
  position: relative;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide ul {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  -webkit-transition: 1s;
  transition: 1s;
}

.header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide .slide-img img {
  display: block;
  width: 609px;
}

.bizworkspace__content {
  color: #ffffff;
  text-align: center;
}

.bizworkspace__content .bizworkspace__header {
  margin-bottom: 47px;
}

.bizworkspace__content .bizworkspace__header h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
  margin: 0;
}

.bizworkspace__content .bizworkspace__footer {
  padding: 40px 0;
}

.bizworkspace__content .bizworkspace__footer h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.02em;
}

.bizworkspace-tables .table.in-modal {
  padding-left: 7px;
  padding-right: 7px;
}

.bizworkspace-tables .table .card__border {
  background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  padding: 2px;
  border-radius: 8px;
}

.bizworkspace-tables .table .card__border .borderBiz-2-child {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.bizworkspace-tables .table .card__border .card {
  background: linear-gradient(169.75deg, rgba(27, 4, 65, 0.85) 6.23%, rgba(82, 22, 152, 0.85) 149.84%);
  border: none;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.bizworkspace-tables .table .card__border .card .card-shadow {
  position: absolute;
  inset: 0;
  -webkit-box-shadow: inset 0px 4px 20px rgba(220, 64, 213, 0.6);
          box-shadow: inset 0px 4px 20px rgba(220, 64, 213, 0.6);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.bizworkspace-tables .table .card__border .card .card-header {
  background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
  width: 100%;
  padding: 25px 20px;
}

.bizworkspace-tables .table .card__border .card .card-header h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.bizworkspace-tables .table .card__border .card .card-header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

.bizworkspace-tables .table .card__border .card .card-header.in-modal h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.bizworkspace-tables .table .card__border .card .card-body {
  background: linear-gradient(169.75deg, rgba(27, 4, 65, 0.85) 6.23%, rgba(82, 22, 152, 0.85) 149.84%);
  border-radius: 0px 0px 8px 8px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-user {
  min-height: 67px;
  padding: 8px 15px 10px 15px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-user .user-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-user i {
  color: #ffae10;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-price {
  min-height: 90px;
  padding: 12px 15px 5px 15px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-price .card-title-price-original {
  min-height: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #ffffff;
  opacity: 0.6;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-price .card-title-price-sale {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #4cd4ff;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-price .card-title-price-for {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4cd4ff;
}

.bizworkspace-tables .table .card__border .card .card-body .card-title .card-title-storage {
  padding: 20px 15px 20px 15px;
  min-height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-hr {
  height: 2px;
  border: none;
  background: linear-gradient(99.56deg, #3755f0 13.92%, #c00297 36.81%);
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies {
  text-align: left;
  min-height: 765px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies.in-modal {
  min-height: 480px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-message {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0;
  position: relative;
  display: inline-block;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-message::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 25px;
  top: 50%;
  right: -60px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-message__icon-1::after {
  background-image: url("../../img/bizverse_workspace/icon-1.png");
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-message__icon-2::after {
  background-image: url("../../img/bizverse_workspace/icon-2.png");
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-message__icon-3::after {
  background-image: url("../../img/bizverse_workspace/icon-3.png");
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 19px;
  margin-bottom: 10px;
  padding-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list .card-supply-list-item__outer .card-supply-list-item {
  position: relative;
  display: inline-block;
  min-height: 24px;
  padding: 6px 0;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list .card-supply-list-item__outer .card-supply-list-item:before {
  content: "";
  width: 0;
  height: 0;
  padding: 8px;
  position: absolute;
  left: -18px;
  top: 10px;
  background-position: 50% 50%;
  background-size: 7px;
  background-repeat: no-repeat;
  background-image: url("../../img/bizverse_workspace/list-circle.png");
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list.in-modal {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list.in-modal .card-supply-list-item__outer .card-supply-list-item {
  margin: 7px 0;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list ul {
  padding-left: 20px;
  list-style-position: outside;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list ul li::marker {
  font-size: 25px;
}

.bizworkspace-tables .table .card__border .card .card-body .card-supplies .card-supply .card-supply-list ul.marker-sm li::marker {
  font-size: 20px;
}

.price-table-supply__message {
  cursor: pointer;
}

:root {
  --pink-color: #e26e70;
}

.model {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 11;
}

.model .model__inner__border {
  width: 1165px;
  position: relative;
  top: 10%;
  z-index: -1;
  margin: auto;
  margin-bottom: 400px;
  -webkit-animation: modelShow 0.2s linear;
          animation: modelShow 0.2s linear;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  padding: 2px;
  border-radius: 10px;
}

.model .model__inner__border .borderBiz-2-child {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.model .model__inner__border .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #b9a3df;
  width: 35px;
  height: 35px;
  font-size: 35px;
  cursor: pointer;
}

.model .model__inner__border .model__inner {
  z-index: -1;
  padding: 50px 35px 10px 35px;
  background: linear-gradient(307.16deg, #1b0441 -4.15%, #521698 75.22%);
}

.model .model__inner__border .model__inner header {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.model .model__inner__border .model__inner .form-outer {
  width: 100%;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 1372px;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page {
  position: absolute;
  width: 100%;
  display: none;
  -webkit-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page.active {
  display: block;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .navigation {
  display: none;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-header {
  margin: 0 auto 30px;
  width: 75%;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-header .page-main-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-header .page-sub-header {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field {
  width: 100%;
  height: 45px;
  margin: 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns button {
  position: absolute;
  bottom: 0px;
  min-width: 178px;
  padding: 15px;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: linear-gradient(132.5deg, #e622bd 13.14%, #3830de 88.66%);
  border-radius: 50px;
  outline: none;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns button:hover {
  color: #fff;
  background: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
  box-shadow: inset 0px 0px 0px 1px #ffffff;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns button.prev {
  font-size: 17px;
  left: 0;
}

.model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns button.next, .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns button.submit-modal {
  right: 0;
}

.model .model__inner__border .model__inner .model-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 65px 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.model .model__inner__border .model__inner .model-progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}

.model .model__inner__border .model__inner .model-progress-bar .step p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.model .model__inner__border .model__inner .model-progress-bar .step .bullet {
  height: 50px;
  width: 50px;
  border: 1px solid #ffffff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.model .model__inner__border .model__inner .model-progress-bar .step .bullet .bullet-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  opacity: 0;
}

.model .model__inner__border .model__inner .model-progress-bar .step .bullet.active .bullet-circle {
  opacity: 1;
}

.model .model__inner__border .model__inner .model-progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 120%;
  width: 167px;
  border-top: 1px dashed #ffffff;
}

.model .model__inner__border .model__inner .model-progress-bar .step:last-child .bullet:before,
.model .model__inner__border .model__inner .model-progress-bar .step:last-child .bullet:after {
  display: none;
}

.model .request-success-popup__border {
  width: 560px;
  height: 334px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-animation: notificationShow 0.2s linear;
          animation: notificationShow 0.2s linear;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  padding: 2px;
  border-radius: 10px;
  overflow: hidden;
}

.model .request-success-popup__border .borderBiz-2-child {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.model .request-success-popup__border .request-success-popup {
  z-index: -1;
  padding: 50px;
  background: linear-gradient(307.16deg, #1b0441 -4.15%, #521698 75.22%);
}

.model .request-success-popup__border .request-success-popup .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #b9a3df;
  width: 35px;
  height: 35px;
  font-size: 35px;
  cursor: pointer;
}

.page.step-1 {
  height: 1372px;
}

.page.step-2 {
  height: 850px;
}

.page.step-3 {
  height: 460px;
}

.page.step-4 {
  height: 588px;
}

.page .page-body {
  padding: 0 160px;
}

.page .page-body .page-form {
  position: relative;
  padding: 32px 114px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.page .page-body .page-form::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.page .page-body .page-form .field {
  margin: 16px 0 !important;
}

.page .page-body .page-form .field:last-child {
  margin: 16px 0 0 !important;
}

.page .page-body .page-form .field:first-child {
  margin: 0 0 16px !important;
}

.page .page-body .page-form .field.field-lg {
  margin: 32px 0 !important;
}

.page .page-body .page-form .field.field-lg-bottom {
  margin: 0 0 40px !important;
}

.page .page-body .page-form .field .upload-logo {
  position: relative;
  width: 72px;
  height: 72px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(14.71%, #1b0441), color-stop(92.65%, #521698));
  background: linear-gradient(360deg, #1b0441 14.71%, #521698 92.65%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 7px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-body .page-form .field .upload-logo img {
  max-width: 85%;
}

.page .page-body .page-form .field .upload-logo i {
  position: absolute;
  right: 3px;
  top: 3px;
  opacity: 0.5;
}

.page .page-body .page-form .field .borderBiz-2 {
  background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  padding: 2px;
  border-radius: 4px;
  position: relative;
}

.page .page-body .page-form .field .borderBiz-2 .borderBiz-2-child {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.page .page-body .page-form .field .borderBiz-2 .warning-message {
  position: absolute;
  bottom: -18px;
  left: 2px;
  font-size: 10px;
  opacity: 0;
}

.page .page-body .page-form .field .borderBiz-2 .warning-message.display {
  opacity: 1;
}

.page .page-body .page-form .field .business-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-body .page-form .field .business-div .business-logo {
  margin-right: 10px;
  width: 40px;
}

.page .page-body .page-form .field .business-div .business-name {
  height: 100%;
  margin-bottom: 10px;
}

.page .page-body .page-form .field .field-input {
  background: #1b0441;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 6px 9px;
  outline: none;
}

.page .page-body .page-form .field .label {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.page .page-body .page-form .field .label span {
  color: yellow;
}

.request-success-popup__border .request-success-popup {
  padding: 45px 55px;
}

.request-success-popup__border .request-success-popup .success-icon {
  width: 89px;
  height: 89px;
  background: linear-gradient(317.46deg, #6e34cd 4.18%, #c10297 92.02%);
  border-radius: 50%;
  margin: 20px auto 40px;
}

.request-success-popup__border .request-success-popup .success-icon i {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff7ff), to(#ff8eff));
  background: linear-gradient(180deg, #fff7ff 0%, #ff8eff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  line-height: 89px;
  font-size: 50px;
}

.request-success-popup__border .request-success-popup .success-icon i::before {
  margin: auto;
}

.request-success-popup__border .request-success-popup .success-message {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.hide {
  display: none;
}

.opa-0 {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

@-webkit-keyframes notificationShow {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes notificationShow {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes modelShow {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

@keyframes modelShow {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}

::-moz-selection {
  color: #fff;
  background: #d43f8d;
}

::selection {
  color: #fff;
  background: #d43f8d;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 3;
}

.select-box label {
  cursor: pointer;
}

.select-box .option,
.select-box .selected {
  padding: 0 24px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-box .selected {
  border-radius: 4px;
  color: #f5f6fa;
  position: relative;
  background: #1b0441;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.select-box .selected img {
  margin-right: 10px;
  width: 40px;
}

.select-box .selected .fa-chevron-down {
  position: absolute;
  width: 32px;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #DBC6FF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box .select-box__inner {
  background: linear-gradient(336.22deg, #1b0441 4.41%, #521698 66.78%);
  color: #f5f6fa;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 110%;
  display: none;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 6px;
  overflow: hidden;
  padding: 12px 12px 12px 12px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.select-box .select-box__inner hr {
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
  margin: 10px 0;
}

.select-box .select-box__inner .options-tool__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select-box .select-box__inner .options-tool__inner .option-redo i {
  color: #ffffff;
  font-size: 27px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.select-box .select-box__inner .options-tool__inner .option-addnew {
  background: linear-gradient(317.15deg, #6e34cd 3.65%, #ff04c8 91.98%);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  cursor: pointer;
}

.select-box .select-box__inner .options-tool__inner .option-addnew i {
  line-height: 27px;
}

.select-box .select-box__inner .options-container {
  max-height: 180px;
  overflow-y: scroll;
}

.select-box .select-box__inner .options-container::-webkit-scrollbar {
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.select-box .select-box__inner .options-container::-webkit-scrollbar-thumb {
  background: #c10297;
  border-radius: 4px;
}

.select-box .select-box__inner .options-container .option {
  padding: 12px 12px;
  margin-right: 10px;
  cursor: pointer;
  height: auto;
}

.select-box .select-box__inner .options-container .option img {
  margin-right: 10px;
  width: 40px;
}

.select-box .select-box__inner .options-container .option:hover {
  background: #1b0441;
}

.select-box .select-box__inner .options-container .option .radio {
  display: none;
}

.select-box .select-box__inner.active {
  max-height: 252px;
  display: block;
}

.select-box .select-box__inner.active + .selected.fa-chevron-down {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  top: -6px;
}

.quantity {
  position: relative;
  width: 100%;
  height: 35.2px;
}

.quantity input {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  display: block;
  width: 100%;
  padding-left: 8px;
  border: 0 none;
  float: left;
  -moz-appearance: textfield;
}

.quantity input::-webkit-inner-spin-button, .quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity__btn {
  position: absolute;
  right: 5px;
  width: 23px;
  height: 15px;
  cursor: pointer;
}

.quantity__btn:after {
  position: absolute;
  content: "";
  left: 7px;
  border-width: 5px;
  border-style: solid;
}

.quantity__btn--up {
  top: 2px;
}

.quantity__btn--up:after {
  top: 2px;
  border-color: transparent transparent #ffffff transparent;
}

.quantity__btn--down {
  bottom: 2px;
}

.quantity__btn--down:after {
  bottom: 2px;
  border-color: #ffffff transparent transparent transparent;
}

.footer {
  background: url("../../img/footer/footer-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 576px;
  color: #ffffff;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
}

.footer .footer-content__outer {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer .footer-content__outer .footer-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  margin: 0;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section {
  padding: 0;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu {
    margin-bottom: 0;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner {
  padding: 0 15px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner {
    width: 65%;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu__section_inner {
    width: 100%;
  }
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu__section_inner.active .footer-main-menu-section__list {
    height: auto;
    overflow: visible;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

@media screen and (min-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header .footer-main-menu-section__title {
  cursor: pointer;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header .footer-main-menu-section__title .footer-main-menu-section__img {
  padding: 9px 70px;
  margin-bottom: 1.5px;
  position: relative;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header .footer-main-menu-section__title .footer-main-menu-section__img img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header .footer-main-menu-section__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 12px;
  height: 12px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__header .footer-main-menu-section__icon {
    display: none;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__list {
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__list {
    height: auto;
    overflow: visible;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__list .footer-main-menu-section__item {
  display: block;
  padding-bottom: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__list .footer-main-menu-section__item {
    padding-bottom: 10px;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__list .footer-main-menu-section__item .footer-main-menu-section__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section .footer-main-menu .footer-main-menu__inner .footer-main-menu__section .footer-main-menu-section__list .footer-main-menu-section__item .footer-main-menu-section__link {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 1200px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-content-section__inner {
    margin-right: 30px;
  }
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-content-section__inner {
    padding-top: 45px;
    padding-bottom: 10px;
    margin-right: 0;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-content-section-info__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-content-section-info__header {
    text-align: center;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-marketplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 25px 0 10px;
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-marketplace {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-marketplace .footer-marketplace__item {
  margin: 0 5px;
  cursor: pointer;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-marketplace .footer-marketplace__item:last-child {
  margin-right: 0;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-marketplace .footer-marketplace__item img {
  width: 140px;
  height: 50px;
}

@media screen and (max-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-marketplace .footer-marketplace__item img {
    width: 22.4vw;
    height: 8vw;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-social-media .footer-social-media__item {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-left: 13px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-social-media .footer-social-media__item i,
.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-social-media .footer-social-media__item span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_info .footer-social-media .footer-social-media__item span {
  font-weight: 400;
  font-size: 8px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.footer .footer-content__outer .footer-content__inner .footer-content__section_copyright {
  padding-left: 30px;
}

@media screen and (max-width: 992px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_copyright {
    text-align: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .footer .footer-content__outer .footer-content__inner .footer-content__section_copyright {
    font-size: 0.9rem;
  }
}

.price-table-popup {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

.price-table-popup .price-table-popup__border {
  width: calc(100% - 80px);
  max-height: calc(90% - 70px);
  height: 100%;
  max-width: 400px;
  position: relative;
  top: 10%;
  z-index: -1;
  margin: auto;
  -webkit-animation: modelShow 0.2s linear;
          animation: modelShow 0.2s linear;
  color: #ffffff;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
  padding: 2px;
  border-radius: 10px;
}

.price-table-popup .price-table-popup__border .borderBiz-2-child {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner {
  z-index: -1;
  background: linear-gradient(307.16deg, #1b0441 -4.15%, #521698 75.22%);
  padding: 15px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__row .price-table-window__row_categories-title {
  color: rgba(82, 92, 105, 0.56);
  font-size: 11px;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 10px);
          flex: 1 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  width: 100%;
  margin-left: 10px;
  margin-right: 0;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__sidebar_sub {
  padding-left: 10px;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__sidebar_sub .price-table-window-sidebar__message {
  font-size: 12px;
  font-weight: 400;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  max-width: 50%;
  width: 50%;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns .price-table-window__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  max-width: 160px;
  padding: 0 5px;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns .price-table-window__column .price-table-window-body .price-table-window-body__content {
  width: 100%;
  text-align: center;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns .price-table-window__column .price-table-window-body .price-table-window-body__content .price-table-window-body__message {
  font-weight: 500;
  line-height: 1;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns .price-table-window__column .price-table-window-body .price-table-window-body__content .price-table-icon {
  width: 0;
  height: 0;
  margin: auto;
  padding: 8px;
  background-position: 50% 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns .price-table-window__column .price-table-window-body .price-table-window-body__content .price-table-icon_check {
  background-image: url("../../img/Popup_TablePrice/check.png");
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body .price-table-window__columns .price-table-window__column .price-table-window-body .price-table-window-body__content .price-table-icon_uncheck {
  background-image: url("../../img/Popup_TablePrice/uncheck.png");
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-bottom: 3px;
  padding-bottom: 13px;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(99.56deg, #3755f0 13.92%, #c00297 36.81%);
  border-image-slice: 1;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue .price-table-window__header {
  font-size: 19px;
  font-weight: 600;
  line-height: 1;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue .price-table-window-header_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue .price-table-window-header_center .price-table-window-header__product {
  margin: 0 auto;
  padding: 10px 5px;
  max-width: 160px;
  min-width: 150px;
  background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content::-webkit-scrollbar {
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content::-webkit-scrollbar-thumb {
  background: #c10297;
  border-radius: 4px;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content .price-table-window__row {
  padding: 7px 0;
  border-radius: 5px;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content .price-table-window-sidebar__content {
  display: inline;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content .price-table-window-sidebar__content .price-table-window-sidebar__message {
  display: inline;
  line-height: 1.25;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__content .price-table-window-sidebar__content .price-table-window-sidebar__message_tooltip {
  cursor: pointer;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__order {
  margin-top: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__order .price-table-window-order__button {
  position: relative;
  display: inline-block;
  min-width: 100px;
  margin: auto;
  padding: 12px;
  border: none;
  background: linear-gradient(132.5deg, #e622bd 13.14%, #3830de 88.66%);
  border-radius: 50px;
  outline: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__order .price-table-window-order__button:hover {
  color: #fff;
  background: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
  box-shadow: inset 0px 0px 0px 1px #ffffff;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_prev,
.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_next {
  position: relative;
  width: 55px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_next {
  left: -10px;
  background-image: url("../../img/Popup_TablePrice/nav_prev.png");
  background-position: left center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_prev {
  right: -10px;
  background-image: url("../../img/Popup_TablePrice/nav_next.png");
  background-position: right center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window.price-table-window_mobile {
  display: none;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window.price-table-window_mobile.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window.price-table-window_mobile .price-table-window__order .price-table-window__sidebar {
  display: none;
}

.price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window.price-table-window_mobile .price-table-window__order .price-table-window__body {
  margin: 0 auto;
}

.price-table-popup .price-table-popup__border .close-popup {
  background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
  position: absolute;
  top: -30px;
  right: -30px;
  border-radius: 50%;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.price-table-popup .price-table-popup__border .close-popup i {
  color: #ffffff;
  width: 27px;
  height: 27px;
  font-size: 27px;
}

@media screen and (max-width: 1201px) {
  .bizworkspace .bizworkspace__content .bizworkspace-tables .table {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1201px) {
  .bizworkspace .bizworkspace__content .bizworkspace-tables .table:nth-child(1) .card .card-body .card-supplies, .bizworkspace .bizworkspace__content .bizworkspace-tables .table:nth-child(2) .card .card-body .card-supplies {
    min-height: 526px;
  }
}

@media screen and (max-width: 1200px) {
  .page .bizworkspace-tables .navigation {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 0;
  }
  .page .bizworkspace-tables .navigation .prev-btn,
  .page .bizworkspace-tables .navigation .next-btn {
    font-size: 4em;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  .page .bizworkspace-tables .row {
    position: relative;
  }
  .page .bizworkspace-tables .row .table {
    position: absolute;
    width: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    display: none;
  }
  .page .bizworkspace-tables .row .table.active {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .model .model__inner__border .model__inner .form-outer form .page .page-body .page-form {
    padding: 32px 50px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet:after {
    width: 120px;
  }
}

@media screen and (max-width: 991.98px) {
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue .price-table-window__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue .price-table-window__row .price-table-window__sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    max-width: 100%;
    margin: 0 auto 10px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .price-table-popup .price-table-popup__border {
    width: calc(100% - 80px);
    max-width: 500px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_next,
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_prev {
    width: 60px;
    height: 100px;
  }
}

@media screen and (min-width: 992px) {
  .price-table-popup .price-table-popup__border {
    max-width: 1012px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner {
    padding: 17px 20px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__sidebar {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 296px;
            flex: 1 0 296px;
    max-width: 296px;
    margin-left: 19px;
    margin-right: 15px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__body {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100% - 330px);
            flex: 1 0 calc(100% - 330px);
    max-width: calc(100% - 330px);
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__prologue .price-table-window-header_center .price-table-window-header__product {
    display: inline-block;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_next,
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_prev {
    width: 80px;
    height: 144px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_next {
    left: -20px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__control .price-table-window-control .price-table-window-control__nav_prev {
    right: -20px;
  }
  .price-table-popup .price-table-popup__border .price-table-popup__inner .price-table-window .price-table-window__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 992px) {
  .slider {
    padding-top: 45px;
  }
}

@media screen and (max-width: 992px) {
  .header-main-banner {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 992px) {
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__header h1 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 992px) {
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
    position: relative;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item {
    display: none;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item.active {
    display: block;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__message {
    font-size: 28px;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__progress-bar {
    display: none;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .navigation .prev-btn,
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .navigation .next-btn {
    z-index: 0;
    font-size: 2em;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-mobile {
    width: 78%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    height: 141px;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-mobile .slide-img-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: circle(0% at 0 50%);
            clip-path: circle(0% at 0 50%);
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-mobile .slide-img-mobile.active {
    -webkit-clip-path: circle(150% at 0 50%);
            clip-path: circle(150% at 0 50%);
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-mobile .slide-img-mobile img {
    max-width: 250px;
    margin: 0 auto;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 0;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide ul li {
    margin-bottom: 10px;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide .slide-img {
    display: none;
  }
}

.bizworkspace .bizworkspace__content .bizworkspace-tables .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 992px) {
  .bizworkspace .bizworkspace__content .bizworkspace-tables .table {
    margin: 15px 0;
    max-width: 420px;
    min-width: 260px;
  }
}

@media screen and (max-width: 992px) {
  .model .model__inner__border .model__inner .form-outer form .page .page-header {
    margin-left: 0;
    margin-right: 0;
  }
  .model .model__inner__border .model__inner .form-outer form .page .page-header .page-sub-header {
    font-size: 12px !important;
  }
  .model .model__inner__border .model__inner .form-outer form .page .page-body {
    padding: 0 0;
  }
  .model .model__inner__border .model__inner .form-outer form .page .page-body .page-form {
    padding: 32px 20px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet:after {
    width: 61px;
  }
}

@media screen and (max-width: 768px) {
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__header h1 {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .tabs .tab-item .tab-item__message {
    font-size: 24px;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__slider .slide-content .slide ul {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-header {
    margin: 0 0 15px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-body {
    padding: 0 0;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-body .page-form {
    padding: 32px 10px;
  }
}

@media screen and (max-width: 768px) {
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field .label {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
  }
}

@media screen and (max-width: 768px) {
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet {
    width: 40px;
    height: 40px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet .bullet-circle {
    width: 28px;
    height: 28px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet:after {
    width: 30px;
  }
}

@media screen and (max-width: 768px) {
  .model .request-success-popup__border {
    width: 380px;
    height: 240px;
  }
  .model .request-success-popup__border .request-success-popup {
    padding: 25px 35px;
  }
  .model .request-success-popup__border .request-success-popup .success-icon {
    width: 69px;
    height: 69px;
    margin: 15px auto 25px;
  }
  .model .request-success-popup__border .request-success-popup .success-icon i {
    line-height: 69px;
    font-size: 40px;
  }
  .model .request-success-popup__border .request-success-popup .success-message {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .bizworkspace .bizworkspace__content .bizworkspace__header h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .bizworkspace .bizworkspace__content .bizworkspace__footer h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .header-main-banner .header-main-banner__outer {
    padding: 33px 15px 33px;
  }
  .header-main-banner .header-main-banner__outer .header-main-banner__inner .header-main-banner__header h1 {
    font-size: 20px;
  }
  .model .model__inner__border {
    width: 96vw;
  }
  .model .model__inner__border .model__inner {
    padding: 50px 10px 10px 10px;
  }
  .model .model__inner__border .model__inner .model-progress-bar {
    margin: 14px 30px 14px;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .bizworkspace-tables .row .table {
    width: 85%;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .bizworkspace-tables .navigation .prev-btn,
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .bizworkspace-tables .navigation .next-btn {
    font-size: 3em;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-header {
    margin: 0 0 15px;
    width: 100%;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-header .page-main-header {
    font-size: 17px;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .button-biz {
    padding: 10px 35px;
    font-size: 14px;
    line-height: 15px;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .page-body .page-form {
    padding: 15px 10px;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field {
    height: 60px;
    margin: 22px 0 !important;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field .upload-logo__outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field .business-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field .label-value {
    text-align: center;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field.field-lg {
    margin: 0 0 20px !important;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field.field-lg-bottom {
    margin: 0 0 28px !important;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field.field-top {
    margin: 22px 0 0 !important;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field.field-bottom {
    margin: 0 0 22px !important;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .field.field-none {
    margin: 0 !important;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns {
    margin-top: 20px;
  }
  .model .model__inner__border .model__inner .form-outer form.multi-step-form .page .btns button {
    min-width: 130px;
    padding: 7px;
    font-size: 13px !important;
    font-weight: 500;
    letter-spacing: 0px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step p {
    font-size: 11px;
    line-height: 14px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet {
    width: 30px;
    height: 30px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet .bullet-circle {
    width: 22px;
    height: 22px;
  }
  .model .model__inner__border .model__inner .model-progress-bar .step .bullet:after {
    display: none;
  }
  .model .request-success-popup__border {
    width: 280px;
    height: 200px;
  }
  .model .request-success-popup__border .request-success-popup {
    padding: 25px 35px;
  }
  .model .request-success-popup__border .request-success-popup .success-icon {
    width: 69px;
    height: 69px;
    margin: 15px auto 15px;
  }
  .model .request-success-popup__border .request-success-popup .success-icon i {
    line-height: 69px;
    font-size: 40px;
  }
  .model .request-success-popup__border .request-success-popup .success-message {
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=main.css.map */