.button-biz {
    @include styleButton(#fff, transparent, #ffffff, 16px, 700, 13px, 55px);
    // box-shadow: inset 0px 4px 20px rgba(220, 64, 213, 0.6);
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 50px;
    line-height: 19px;
    text-transform: uppercase;
    position: relative;
    background-clip: padding-box;
    &.button-sm {
        padding: 9px 35px;
    }
    &:before {
        position: absolute;
        inset: 0;
        margin: -1px;
        border-radius: inherit;
        background-image: $color-bluepink-1;
        content: "";
        z-index: -1;
        visibility: hidden;
    }
    &:hover,
    &.step-1__select.active,
    &.step-2__select.active {
        color: #fff;
        background: $color-bluepink-1;
        border: 1px solid transparent;
        transition: all 0.15s ease-in-out;
        &:before {
            visibility: visible;
        }
    }
}
.button-register {
    @include styleButton(#fff, transparent, transparent, 24px, 700, 20px, 75px);
    display: inline-block;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 50px;
    line-height: 29px;
    text-transform: uppercase;
    background-image: $color-bluepink-1;

    @media screen and (max-width: 768px) {
        padding: 15px 50px;
        font-size: 1.2rem;
        line-height: 20px;
    }

    @media screen and (max-width: 576px) {
        padding: 12px 40px;
        font-size: 1rem;
        line-height: 20px;
    }

    &:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #ffffff;
        transition: all 0.15s ease-in-out;
    }
}

.button-biz-2 {
    @include styleButton(#fff, transparent, transparent, 24px, 700, 0.5rem, 2.25rem);
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50px;
    line-height: 29px;
    text-transform: uppercase;
    background-image: linear-gradient(132.5deg, #e622bd 13.14%, #3830de 88.66%);

    &:hover {
        color: #fff;
        background: transparent;
        border: 1px solid #ffffff;
        transition: all 0.15s ease-in-out;
    }
}
