.select-box {
    display: flex;
    // width: 400px;
    flex-direction: column;
    position: relative;
    z-index: 3;
    label {
        cursor: pointer;
    }
    .option,
    .selected {
        padding: 0 24px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .selected {
        border-radius: 4px;
        // margin-bottom: 4px;
        color: #f5f6fa;
        position: relative;
        background: #1b0441;

        order: 0;
        .selected-text {
            // margin-bottom: 0.5rem;
        }
        img {
            margin-right: 10px;
            width: 40px;
        }
        & .fa-chevron-down {
            position: absolute;
            width: 32px;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            color: #DBC6FF;

            transition: all 0.4s;
        }
    }
    .select-box__inner {
        background: linear-gradient(336.22deg, #1b0441 4.41%, #521698 66.78%);
        color: #f5f6fa;
        position: absolute;
        z-index: 9;
        left: 0;
        top: 110%;
        display: none;
        width: 100%;
        transition: all 0.4s;
        border-radius: 6px;
        overflow: hidden;
        padding: 12px 12px 12px 12px;

        order: 1;
        hr {
            height: 1px;
            background: #ffffff;
            opacity: 0.2;
            margin: 10px 0;
        }
        .options-tool__inner {
            display: flex;
            justify-content: space-between;

            .option-redo i {
                color: #ffffff;
                font-size: 27px;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                cursor: pointer;
            }

            .option-addnew {
                background: linear-gradient(317.15deg, #6e34cd 3.65%, #ff04c8 91.98%);
                border-radius: 50%;
                width: 27px;
                height: 27px;
                text-align: center;
                cursor: pointer;
            }

            .option-addnew i {
                line-height: 27px;
            }
        }
        .options-container {
            max-height: 180px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 4px;
                background: rgba(255,255,255, 0.2);
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background: #c10297;
                border-radius: 4px;
            }
            .option {
                padding: 12px 12px;
                margin-right: 10px;
                cursor: pointer;
                height: auto;
                img {
                    margin-right: 10px;
                    width: 40px;
                }
                &:hover {
                    background: #1b0441;
                }
                .radio {
                    display: none;
                }
            }
        }
        &.active {
            max-height: 252px;
            // opacity: 1;
            display: block;
            & + .selected.fa-chevron-down {
                transform: rotateX(180deg);
                top: -6px;
            }
        }
    }
}
