.quantity {
    position: relative;
    width: 100%;
    height: 35.2px;
  
    input {
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;

      display: block;
      width: 100%;
      padding-left: 8px;
      border: 0 none;
      float: left;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    &__btn {
      position: absolute;
      right: 5px;
      width: 23px;
      height: 15px;
      cursor: pointer;
      &:after {
        position: absolute;
        content: "";
        left: 7px;
        border-width: 5px;
        border-style: solid;
      }
      &--up {
        top: 2px;
        &:after {
          top: 2px;
          border-color: transparent transparent #ffffff transparent;
        }
      }
      &--down {
        bottom: 2px;
        &:after {
          bottom: 2px;
          border-color: #ffffff transparent transparent transparent;
        }
      }
    }
  }