*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Montserrat', sans-serif;
    font-family: "Inter", sans-serif;
    // font-family: 'SF UI Display', sans-serif;
    // outline: none;
    font-style: normal;
}
body{
    background-color: #1c053d;
    font-size: 16px;
}