@mixin styleButton($color, $bg-color, $border, $fs, $fw, $pd-y, $pd-x) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $border;
    font-size: $fs;
    font-weight: $fw;
    padding: $pd-y $pd-x;
    cursor: pointer;
}
@mixin hoverButton($color-hover, $bg-hover, $border-hover) {
    color: $color-hover;
    background: $bg-hover;
    border: 1px solid $border-hover;
}

@mixin borderBiz($br, $bg-color) {
    background: $bg-color;
    position: relative;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: $br;
    &:before {
        position: absolute;
        inset: 0;
        margin: -2px;
        border-radius: inherit;
        background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
        content: "";
        z-index: -1;
    }
}

@mixin borderBiz-2($br){
    background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
    padding: 2px;
    border-radius: $br;
    .borderBiz-2-child{
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }
}

@mixin borderBiz-3{
    --border-width: 2px;
    --border-radius: 10px;

    font: inherit;

    // background: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);

    border: 0;

    position: relative;

    border-radius: var(--border-radius);

    z-index: 1;

    &::before{
        content: '';

        display: block;

        height: calc((100% - calc(var(--border-width) + 2)));
        width: calc((100% - calc(var(--border-width) + 2)));

        background: white;

        position: absolute;

        top: var(--border-width);
        left: var(--border-width);

        border-radius: calc(var(--border-radius) - var(--border-width));

        z-index: -1;
    }    
}

@mixin borderBiz-4{
    position: relative;
    border: 2px solid transparent;
    border-radius: 10px;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
        border: inherit;
        border-radius: inherit;
        -webkit-mask: 
            linear-gradient(white, white) padding-box,
            linear-gradient(white, white);
            mask-composite: exclude;
    }
}