.bizworkspace {
    .bizworkspace__content {
        .bizworkspace-tables {
            .table {
                @media screen and (max-width: 1201px) {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                &:nth-child(1),
                &:nth-child(2) {
                    .card {
                        .card-body {
                            .card-supplies {
                                @media screen and (max-width: 1201px) {
                                    min-height: 526px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.page {
    .bizworkspace-tables {
        @media screen and (max-width: 1200px) {
            .navigation {
                display: flex !important;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                color: white;
                z-index: 0;
                .prev-btn,
                .next-btn {
                    font-size: 4em;
                    color: #fff;
                    padding: 10px;
                    cursor: pointer;
                }
            }
            .row {
                position: relative;
                .table {
                    position: absolute;
                    width: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .model {
        .model__inner__border {
            .model__inner {
                .form-outer {
                    form {
                        .page {
                            .page-body {
                                .page-form {
                                    padding: 32px 50px;
                                }
                            }
                        }
                    }
                }
                .model-progress-bar {
                    .step {
                        .bullet {
                            &:after {
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.price-table-popup {
    .price-table-popup__border {
        @media screen and (max-width: 991.98px) {
            .price-table-popup__inner {
                .price-table-window {
                    .price-table-window__prologue {
                        .price-table-window__row {
                            flex-direction: column;
                            .price-table-window__sidebar {
                                flex: 1 0 auto;
                                max-width: 100%;
                                margin: 0 auto 10px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            width: calc(100% - 80px);
            max-width: 500px;
            .price-table-popup__inner {
                .price-table-window {
                    .price-table-window__control {
                        .price-table-window-control {
                            .price-table-window-control__nav_next,
                            .price-table-window-control__nav_prev {
                                width: 60px;
                                height: 100px;
                            }
                        }
                    }
                    // .price-table-window__row {
                    //     flex-direction: row;
                    // }
                }
            }
        }
        @media screen and (min-width: 992px) {
            max-width: 1012px;
            .price-table-popup__inner {
                padding: 17px 20px;
                .price-table-window {
                    .price-table-window__sidebar {
                        flex: 1 0 296px;
                        max-width: 296px;
                        margin-left: 19px;
                        margin-right: 15px;
                    }
                    .price-table-window__body {
                        width: auto;
                        flex: 1 0 calc(100% - 330px);
                        max-width: calc(100% - 330px);
                    }
                    .price-table-window__prologue {
                        .price-table-window-header_center {
                            .price-table-window-header__product {
                                display: inline-block;
                            }
                        }
                    }
                    .price-table-window__control {
                        .price-table-window-control {
                            .price-table-window-control__nav_next,
                            .price-table-window-control__nav_prev {
                                width: 80px;
                                height: 144px;
                            }
                            .price-table-window-control__nav_next {
                                left: -20px;
                            }
                            .price-table-window-control__nav_prev {
                                right: -20px;
                            }
                        }
                    }
                    .price-table-window__row {
                        flex-direction: row;
                    }
                }
            }
        }
    }
}
