//slider
.slider {
    @media screen and (max-width: 992px) {
        padding-top: 45px;
    }
}
.header-main-banner {
    @media screen and (max-width: 992px) {
        margin-bottom: 150px;
    }
    .header-main-banner__outer {
        .header-main-banner__inner {
            .header-main-banner__header {
                @media screen and (max-width: 992px) {
                    h1 {
                        font-size: 28px;
                        line-height: 28px;
                        margin-bottom: 8px;
                    }
                }
            }
            .header-main-banner__slider {
                @media screen and (max-width: 992px) {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    .tabs {
                        -webkit-order: 2;
                        order: 2;
                        border: none;
                        position: relative;
                        margin: 0;
                        justify-content: center;
                        .tab-item {
                            display: none;
                            // justify-content: center;
                            &.active {
                                display: block;
                            }
                            .tab-item__message {
                                font-size: 28px;
                            }
                            .tab-item__progress-bar {
                                display: none;
                            }
                        }
                        .navigation {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            color: white;
                            .prev-btn,
                            .next-btn {
                                z-index: 0;
                                font-size: 2em;
                                color: #fff;
                                padding: 10px;
                                cursor: pointer;
                            }
                        }
                    }

                    .slide-mobile {
                        width: 78%;
                        max-width: 600px;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        -webkit-order: 1;
                        order: 1;
                        position: relative;
                        height: 141px;
                        .slide-img-mobile {
                            display: flex;
                            justify-content: center;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            clip-path: circle(0% at 0 50%);
                            &.active {
                                clip-path: circle(150% at 0 50%);
                                transition: 1s;
                            }
                            img {
                                max-width: 250px;
                                margin: 0 auto;
                            }
                        }
                    }
                    .slide-content {
                        -webkit-order: 3;
                        order: 3;
                        padding-top: 0;
                        .slide {
                            justify-content: center !important;
                            ul {
                                li {
                                    margin-bottom: 10px;
                                }
                            }
                            .slide-img {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

//workspace
.bizworkspace {
    .bizworkspace__content {
        .bizworkspace-tables {
            .row {
                justify-content: center;
            }
            .table {
                @media screen and (max-width: 992px) {
                    margin: 15px 0;
                    max-width: 420px;
                    min-width: 260px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .model {
        .model__inner__border {
            .model__inner {
                .form-outer {
                    form {
                        .page {
                            .page-header {
                                margin-left: 0;
                                margin-right: 0;
                                .page-sub-header {
                                    font-size: 12px !important;
                                }
                            }
                            .page-body {
                                padding: 0 0;
                                .page-form {
                                    padding: 32px 20px;
                                }
                            }
                        }
                    }
                }
                .model-progress-bar {
                    .step {
                        .bullet {
                            &:after {
                                width: 61px;
                            }
                        }
                    }
                }
            }
        }
    }
}
