.header-main-banner {
    .header-main-banner__outer {
        .header-main-banner__inner {
            .header-main-banner__header {
                @media screen and (max-width: 768px) {
                    h1 {
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
            }
            .header-main-banner__slider {
                @media screen and (max-width: 768px) {
                    .tabs {
                        .tab-item {
                            .tab-item__message {
                                font-size: 24px;
                            }
                        }
                    }
                    .slide-content {
                        .slide {
                            ul {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.model {
    .model__inner__border {
        .close-modal {
        }
        .model__inner {
            header {
            }
            .form-outer {
                form.multi-step-form {
                    .page {
                        // @media screen and (max-width: 769px) {
                        //     &.step-2 {
                        //         height: 900px;
                        //     }
                        // }
                        .page-header {
                            @media screen and (max-width: 768px) {
                                margin: 0 0 15px;
                                width: 100%;
                            }
                            .page-main-header {
                            }
                            .page-sub-header {
                            }
                        }
                        @media screen and (max-width: 768px) {
                            .page-body {
                                padding: 0 0;
                                .page-form {
                                    padding: 32px 10px;
                                }
                            }
                        }
                        @media screen and (max-width: 768px) {
                            .field {
                                button {
                                    &:hover {
                                    }
                                }
                                .label {
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 15px;
                                }
                            }
                        }
                        .btns button {
                            &.prev {
                            }
                            &.next,
                            &.submit-modal {
                            }
                        }
                    }
                }
            }
            .model-progress-bar {
                .step {
                    p {
                    }
                    @media screen and (max-width: 768px) {
                        .bullet {
                            width: 40px;
                            height: 40px;
                            .bullet-circle {
                                width: 28px;
                                height: 28px;
                            }
                            &.active {
                                .bullet-circle {
                                    // opacity: 1;
                                }
                            }
                            &:after {
                                width: 30px;
                            }
                        }
                    }
                    &:last-child .bullet:before,
                    &:last-child .bullet:after {
                        // display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .request-success-popup__border {
            width: 380px;
            height: 240px;
            .request-success-popup {
                padding: 25px 35px;
                .success-icon {
                    width: 69px;
                    height: 69px;
                    margin: 15px auto 25px;
                    i {
                        line-height: 69px;
                        font-size: 40px;
                    }
                }
                .success-message {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }
    }
    
}
