.bizworkspace {
    .bizworkspace__content {
        .bizworkspace__header {
            h1 {
                @media screen and (max-width: 768px) {
                    font-size: 1.6rem;
                }
            }
        }
        .bizworkspace__footer {
            h1 {
                @media screen and (max-width: 768px) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header-main-banner {
        .header-main-banner__outer {
            padding: 33px 15px 33px;
            .header-main-banner__inner {
                .header-main-banner__header {
                    h1 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .model {
        .model__inner__border {
            width: 96vw;
            .model__inner {
                padding: 50px 10px 10px 10px;
                .model-progress-bar {
                    margin: 14px 30px 14px;
                }
                .form-outer {
                    form.multi-step-form {
                        .page {
                            .bizworkspace-tables {
                                .row {
                                    .table {
                                        width: 85%;
                                    }
                                }
                                .navigation {
                                    .prev-btn,
                                    .next-btn {
                                        font-size: 3em;
                                    }
                                }
                            }
                            .page-header {
                                margin: 0 0 15px;
                                width: 100%;
                                .page-main-header {
                                    font-size: 17px;
                                }
                            }
                            .button-biz {
                                padding: 10px 35px;
                                font-size: 14px;
                                line-height: 15px;
                            }
                            .page-body {
                                .page-form {
                                    padding: 15px 10px;
                                }
                            }
                            .field {
                                height: 60px;
                                .upload-logo__outer {
                                    display: flex;
                                    justify-content: center;
                                }
                                .business-div {
                                    justify-content: center;
                                }
                                .label-value {
                                    text-align: center;
                                }
                                margin: 22px 0 !important;
                                &.field-lg {
                                    margin: 0 0 20px !important;
                                }
                                &.field-lg-bottom {
                                    margin: 0 0 28px !important;
                                }
                                &.field-top {
                                    margin: 22px 0 0 !important;
                                }
                                &.field-bottom {
                                    margin: 0 0 22px !important;
                                }
                                &.field-none {
                                    margin: 0 !important;
                                }
                            }
                            .btns {
                                margin-top: 20px;
                                button {
                                    min-width: 130px;
                                    padding: 7px;
                                    font-size: 13px !important;
                                    font-weight: 500;
                                    letter-spacing: 0px;
                                }
                            }
                        }
                    }
                }
                .model-progress-bar {
                    .step {
                        p {
                            font-size: 11px;
                            line-height: 14px;
                        }
                        .bullet {
                            width: 30px;
                            height: 30px;
                            .bullet-circle {
                                width: 22px;
                                height: 22px;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .request-success-popup__border {
            width: 280px;
            height: 200px;
            .request-success-popup {
                padding: 25px 35px;
                .success-icon {
                    width: 69px;
                    height: 69px;
                    margin: 15px auto 15px;
                    i {
                        line-height: 69px;
                        font-size: 40px;
                    }
                }
                .success-message {
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 20px;
                }
            }
        }
    }
}
