.bizworkspace__content {
    color: #ffffff;
    text-align: center;
    .bizworkspace__header {
        margin-bottom: 47px;
        h1 {
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 0.02em;
            margin: 0;
        }
    }

    .bizworkspace__footer {
        padding: 40px 0;
        h1 {
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 35px;
            letter-spacing: 0.02em;
        }
    }
}
.bizworkspace-tables {
    .table {
        &.in-modal {
            padding-left: 7px;
            padding-right: 7px;
        }
        .card__border {
            @include borderBiz-2(8px);
            .card {
                // @include borderBiz(8px,linear-gradient(169.75deg, rgba(27, 4, 65, 0.85) 6.23%, rgba(82, 22, 152, 0.85) 149.84%));
                background: linear-gradient(169.75deg, rgba(27, 4, 65, 0.85) 6.23%, rgba(82, 22, 152, 0.85) 149.84%);
                border: none;
                text-align: center;
                color: #fff;
                overflow: hidden;
                .card-shadow {
                    position: absolute;
                    inset: 0;
                    box-shadow: inset 0px 4px 20px rgba(220, 64, 213, 0.6);
                    filter: blur(2px);
                }
                .card-header {
                    background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
                    // border-radius: 8px 8px 0px 0px;
                    width: 100%;
                    padding: 25px 20px;

                    h1 {
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        margin: 0;
                    }
                    &.in-modal {
                        h1 {
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 21px;
                            margin-bottom: 0;
                        }
                    }
                }
                .card-body {
                    background: linear-gradient(
                        169.75deg,
                        rgba(27, 4, 65, 0.85) 6.23%,
                        rgba(82, 22, 152, 0.85) 149.84%
                    );
                    border-radius: 0px 0px 8px 8px;
                    .card-title {
                        .card-title-user {
                            min-height: 67px;
                            padding: 8px 15px 10px 15px;
                            .user-amount {
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                            }
                            i {
                                color: rgba(255, 174, 16, 1);
                            }
                        }
                        .card-title-price {
                            min-height: 90px;
                            padding: 12px 15px 5px 15px;
                            .card-title-price-original {
                                min-height: 25px;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 17px;
                                text-decoration-line: line-through;
                                color: #ffffff;
                                opacity: 0.6;
                            }
                            .card-title-price-sale {
                                padding-bottom: 5px;
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 24px;
                                text-transform: uppercase;
                                color: #4cd4ff;
                            }
                            .card-title-price-for {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                // text-align: center;
                                color: #4cd4ff;
                            }
                        }
                        .card-title-storage {
                            padding: 20px 15px 20px 15px;
                            min-height: 18px;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                    .card-hr {
                        height: 2px;
                        border: none;
                        background: linear-gradient(99.56deg, #3755f0 13.92%, #c00297 36.81%);
                    }
                    .card-supplies {
                        text-align: left;
                        min-height: 765px;
                        &.in-modal {
                            min-height: 480px;
                        }
                        .card-supply {
                            .card-supply-message {
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 17px;
                                margin: 10px 0;
                                position: relative;
                                display: inline-block; // !!!

                                &::after {
                                    content: "";
                                    position: absolute;
                                    display: inline-block;
                                    width: 45px;
                                    height: 25px;
                                    top: 50%;
                                    right: -60px;
                                    background-size: contain;
                                    background-position: 50% 50%;
                                    background-repeat: no-repeat;
                                    transform: translateY(-50%);
                                }
                            }
                            .card-supply-message__icon-1::after {
                                background-image: url("../../img/bizverse_workspace/icon-1.png");
                            }
                            .card-supply-message__icon-2::after {
                                background-image: url("../../img/bizverse_workspace/icon-2.png");
                            }
                            .card-supply-message__icon-3::after {
                                background-image: url("../../img/bizverse_workspace/icon-3.png");
                            }
                            .card-supply-list {
                                display: flex;
                                flex-direction: column;
                                margin-left: 19px;
                                margin-bottom: 10px;
                                padding-left: 4px;

                                font-weight: 400;
                                font-size: 12px;
                                line-height: 24px;

                                .card-supply-list-item__outer {
                                    .card-supply-list-item {
                                        position: relative;
                                        display: inline-block;
                                        min-height: 24px;
                                        padding: 6px 0;
                                        &:before {
                                            content: "";
                                            width: 0;
                                            height: 0;
                                            padding: 8px;
                                            position: absolute;
                                            left: -18px;
                                            top: 10px;
                                            // transform: translateY(-50%);
                                            background-position: 50% 50%;
                                            background-size: 7px;
                                            background-repeat: no-repeat;
                                            background-image: url("../../img/bizverse_workspace/list-circle.png");
                                        }
                                    }
                                }

                                &.in-modal {
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 24px;
                                    .card-supply-list-item__outer {
                                        .card-supply-list-item {
                                            margin: 7px 0;
                                        }
                                    }
                                }
                                ul {
                                    padding-left: 20px;
                                    list-style-position: outside;
                                    li {
                                        &::marker {
                                            font-size: 25px;
                                        }
                                    }
                                    &.marker-sm {
                                        li {
                                            &::marker {
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.price-table-supply__message {
    cursor: pointer;
}
