.footer {
    background: url("../../img/footer/footer-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 576px;
    color: #ffffff;
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);

    .footer-content__outer {
        width: 100%;
        max-width: 1180px;
        height: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        .footer-content__inner {
            display: flex;
            padding-top: 45px;
            margin: 0;
            // .footer-content__section_main-menu {
            //     flex: 1 0 auto;
            // }
            // .footer-content__section_info {
            //     flex: 1 0 auto;
            // }
            // .footer-content__section_copyright {
            //     flex: 1 0 100%;
            //     min-width: 100%;
            // }
            .footer-content__section {
                padding: 0;
                .footer-main-menu {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 40px;
                    padding-top: 0;
                    padding-bottom: 0;
                    box-sizing: border-box;
                    @media screen and (max-width: 1200px) {
                        // padding-top: 45px;
                        // padding-bottom: 30px;
                    }
                    @media screen and (max-width: 992px) {
                        margin-bottom: 0;
                    }
                    
                    // &_border-bottom {
                    //     border-bottom-width: 0px;
                    //     border-bottom-style: solid;
                    //     border-bottom-color: rgba(255, 255, 255, 0.5);
                    //     @media screen and (max-width: 1200px) {
                    //         border-bottom-width: 1px;
                    //     }
                    // }
                    .footer-main-menu__inner {
                        @media screen and (max-width: 992px) {
                            width: 65%;
                        }
                        @media screen and (max-width: 576px) {
                            width: 100%;
                        }

                        padding: 0 15px;
                        margin: 0;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;

                        width: 100%;
                        .footer-main-menu__section {
                            // @media screen and (min-width: 576px) {
                            //     flex: 1 0 auto;
                            // }
                            // @media screen and (min-width: 1200px) {
                            //     min-width: 200px;
                            // }
                            // flex: 1 0 100%;
                            @media screen and (max-width: 992px) {
                                display: flex;
                                justify-content: center;
                            }
                            .footer-main-menu__section_inner {
                                @media screen and (max-width: 576px) {
                                    width: 100%;
                                    &.active {
                                        .footer-main-menu-section__list {
                                            height: auto;
                                            overflow: visible;
                                        }
                                    }
                                }
                            }

                            .footer-main-menu-section__header {
                                @media screen and (min-width: 576px) {
                                    flex: 1 0 auto;
                                    justify-content: flex-start;
                                }
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 10px;
                                box-sizing: border-box;

                                font-weight: 700;
                                font-size: 18px;
                                line-height: 21px;
                                .footer-main-menu-section__title {
                                    cursor: pointer;
                                    .footer-main-menu-section__img {
                                        padding: 9px 70px;
                                        margin-bottom: 1.5px;
                                        position: relative;
                                        img {
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                        }
                                    }
                                }
                                .footer-main-menu-section__icon {
                                    @media screen and (min-width: 576px) {
                                        display: none;
                                    }
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex: 0 0 auto;
                                    position: relative;
                                    width: 12px;
                                    height: 12px;
                                    transition: all 0.2s ease-in-out;
                                    cursor: pointer;
                                }
                            }
                            .footer-main-menu-section__list {
                                @media screen and (min-width: 576px) {
                                    height: auto;
                                    overflow: visible;
                                }
                                display: block;
                                height: 0;
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                overflow: hidden;
                                box-sizing: border-box;

                                .footer-main-menu-section__item {
                                    @media screen and (min-width: 576px) {
                                        padding-bottom: 10px;
                                    }
                                    display: block;
                                    padding-bottom: 7px;
                                    box-sizing: border-box;
                                    .footer-main-menu-section__link {
                                        @media screen and (min-width: 576px) {
                                            font-size: 0.875rem;
                                        }
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 34px;
                                        letter-spacing: 0.01em;
                                        color: white;
                                        text-decoration: none;
                                        transition: all 0.2s ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }
                &_info {
                    .footer-content-section__inner {
                        @media screen and (max-width: 1200px) {
                            margin-right: 30px;
                        }
                        @media screen and (max-width: 992px) {
                            padding-top: 45px;
                            padding-bottom: 10px;
                            margin-right: 0;
                        }
                    }
                    .footer-content-section-info__header {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;

                        text-align: right;

                        @media screen and (max-width: 992px) {
                            text-align: center;
                        }
                    }
                    .footer-marketplace {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        margin: 25px 0 10px;
                        @media screen and (max-width: 992px) {
                            justify-content: center;
                        }
                        .footer-marketplace__item {
                            margin: 0 5px;
                            cursor: pointer;
                            &:last-child {
                                margin-right: 0;
                            }
                            img {
                                width: 140px;
                                height: 50px;
                                @media screen and (max-width: 576px) {
                                    width: 22.4vw;
                                    height: 8vw;
                                }
                            }
                        }
                    }
                    .footer-social-media {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        height: 50px;
                        @media screen and (max-width: 992px) {
                            justify-content: center;
                        }
                        .footer-social-media__item {
                            position: relative;
                            border: 1px solid #ffffff;
                            border-radius: 50%;
                            margin-left: 13px;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            i,
                            span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            span {
                                font-weight: 400;
                                font-size: 8px;
                                line-height: 28px;
                                text-align: center;
                                color: #ffffff;
                            }
                        }
                    }
                }
                &_copyright {
                    padding-left: 30px;
                    @media screen and (max-width: 992px) {
                        text-align: center;
                        padding-left: 0;
                    }
                    @media screen and (max-width: 576px) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}