.header-section {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid;
    border-image-source: linear-gradient(116.39deg, #3755f0 29.81%, #c00297 96.01%);
    border-image-slice: 1;
    .header-section__outer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        width: 100%;
        padding: 10px 15px;
        background: linear-gradient(360deg, #1b0441 14.71%, #521698 92.65%);
        box-sizing: border-box;
        .header-section__inner {
            flex: 1 0 100%;
            width: 100%;
            .header-menu-switch {
                display: block;
                position: absolute;
                width: 30px;
                height: 25px;
                z-index: 1;
                .header-menu-switch__line {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: #ffffff;
                    &:nth-child(1) {
                        transform-origin: 0% 0%;
                        transition: transform 0.4s ease-in-out;
                    }
                    &:nth-child(2) {
                        margin: 7px 0;
                        transition: transform 0.2s ease-in-out;
                    }
                    &:nth-child(3) {
                        transform-origin: 0% 100%;
                        transition: transform 0.4s ease-in-out;
                    }
                }
                &.active .header-menu-switch__line:nth-child(1) {
                    transform: rotate(45deg);
                }
                &.active .header-menu-switch__line:nth-child(2) {
                    transform: scaleY(0);
                }
                &.active .header-menu-switch__line:nth-child(3) {
                    transform: rotate(-45deg);
                }

                // &.active .header-menu-switch__line:nth-child(1){
                //     animation: inMenuButtonTop 0.8s forwards;
                // }
                // &.active .header-menu-switch__line:nth-child(2){
                //     animation: inMenuButtonMiddle 0.8s forwards;
                // }
                // &.active .header-menu-switch__line:nth-child(3){
                //     animation: inMenuButtonBottom 0.8s forwards;
                // }
                // &.closed .header-menu-switch__line:nth-child(1){
                //     animation: outMenuButtonTop 0.8s backwards;
                // }
                // &.closed .header-menu-switch__line:nth-child(2){
                //     animation: outMenuButtonMiddle 0.8s backwards;
                // }
                // &.closed .header-menu-switch__line:nth-child(3){
                //     animation: outMenuButtonBottom 0.8s backwards;
                // }
            }
            .header-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: relative;
                width: 100%;
                max-width: 1440px;
                margin: 0 auto;
                box-sizing: border-box;
                .header-content__section {
                    &_logo {
                        margin: auto;
                        max-width: 100%;
                        .header-logo {
                            img {
                                display: block;
                                max-width: 195px;
                                height: 23px;
                            }
                        }
                    }
                    &_slide {
                        flex: 1 0 auto;
                        max-width: 100%;
                        .header-content-slide {
                            display: flex;
                            align-items: center;
                            position: relative;
                            width: 100%;
                            max-width: 1440px;
                            margin: 0 auto;
                            box-sizing: border-box;
                            .header-content-slide__outer {
                                display: none;
                                align-items: center;
                                flex: 1 0 auto;
                                height: 0;
                                overflow: hidden;
                                max-width: 100%;
                                &.active {
                                    display: flex;
                                }
                                .header-content-slide__inner {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    flex: 1 0 auto;
                                    max-width: 100%;
                                }
                            }
                            .header-content-slide__section {
                                margin-top: 20px;
                                margin-bottom: 0;
                                &_menu {
                                    flex: 1 0 auto;
                                }
                                &_control {
                                    display: flex;
                                    align-items: center;
                                    flex: 1.3 0 0;
                                    max-width: 100%;
                                    flex-direction: column;
                                }
                            }
                            .header-content-slide__control {
                                margin: 0 10px;
                                margin-bottom: 10px;
                                flex: 1 0 0;
                                box-sizing: border-box;
                            }
                            .header-content-button {
                                .header-content-button__button {
                                    font-weight: 700;
                                    font-size: 0.75rem;
                                    line-height: 19px;
                                    color: #ffffff;
                                    text-decoration: none;
                                }
                            }
                            .header-menu {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                box-sizing: border-box;
                                .header-menu__item {
                                    margin: 0;
                                    box-sizing: border-box;
                                }
                                .header-menu__link {
                                    display: block;
                                    padding: 9px 25px;
                                    border: 1px solid transparent;
                                    border-radius: 18px;
                                    color: #ffffff;
                                    font-size: 0.8125rem;
                                    font-weight: 600;
                                    line-height: 1;
                                    text-decoration: none;
                                    transition: all 0.2s ease-in-out;
                                    cursor: pointer;
                                    box-sizing: border-box;
                                }
                            }
                            .lang-selector-globe {
                                .lang-selector-globe__button {
                                    display: flex;
                                    align-items: center;
                                    font-size: 1.875rem;
                                    line-height: 1;
                                    cursor: pointer;
                                    color: #ffffff;
                                }
                                .lang-selector-globe__icon {
                                    width: 24.2px;
                                    height: 24.2px;
                                    border-radius: 50%;
                                    background-image: url("../../img/header/america.png");
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                                .lang-selector-globe__lang {
                                    margin-left: 5px;
                                    font-size: 0.75rem;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                }
                                .lang-selector-globe__angle-down {
                                    margin-left: 5px;
                                    width: 11.44px;
                                    height: 6.36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// min-width: 576px
@media (min-width: 576px) {
    .header-section {
        .header-section__outer {
            .header-section__inner {
                .header-content {
                    .header-content__section {
                        &_slide {
                            .header-content-slide {
                                .header-content-slide__section {
                                    &_control {
                                        flex-direction: row;
                                    }
                                }
                                .header-content-slide__control {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// min-width: 992px
@media (min-width: 992px) {
    .header-section {
        .header-section__outer {
            .header-section__inner {
                .header-menu-switch {
                    display: none;
                }
                .header-content {
                    justify-content: space-around;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .header-content__section {
                        &_logo {
                            .header-logo {
                                img {
                                    height: 35px;
                                }
                            }
                        }
                        &_slide {
                            .header-content-slide {
                                .header-content-slide__outer {
                                    display: flex;
                                    height: auto !important;
                                    overflow: visible;
                                    .header-content-slide__inner {
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                    }
                                }
                                .header-content-slide__section {
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    &_control {
                                        margin-right: auto;
                                        margin-left: auto;
                                    }
                                }
                                .header-menu {
                                    flex-direction: row;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// min-width: 1200px
@media (min-width: 1200px) {
    .header-section {
        .header-section__outer {
            .header-section__inner {
                .header-menu-switch {
                    display: none;
                }
                .header-content {
                    flex-wrap: nowrap;
                    .header-content__section {
                        &_logo {
                            width: 350px;
                        }
                        &_slide {
                            .header-content-slide {
                                .header-content-slide__section {
                                    &_control {
                                        width: 380px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
