:root {
    --pink-color: #e26e70;
}

.model {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 11;

    .model__inner__border {
        width: 1165px;
        // height: 1630px;
        position: relative;
        top: 10%;
        // bottom: 20%;
        z-index: -1;
        margin: auto;
        margin-bottom: 400px;
        animation: modelShow 0.2s linear;
        color: #ffffff;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
        @include borderBiz-2(10px);

        // overflow: hidden;

        .close-modal {
            position: absolute;
            top: 15px;
            right: 15px;
            color: #b9a3df;
            width: 35px;
            height: 35px;
            font-size: 35px;
            cursor: pointer;
        }
        .model__inner {
            z-index: -1;
            padding: 50px 35px 10px 35px;
            background: linear-gradient(307.16deg, #1b0441 -4.15%, #521698 75.22%);
            header {
                margin: 0 0 30px 0;
                font-weight: 700;
                font-size: 30px;
                line-height: 36px;
                text-transform: uppercase;
            }
            .form-outer {
                width: 100%;
                // overflow: hidden;
                form.multi-step-form {
                    display: flex;
                    // width: 400%;
                    position: relative;
                    height: 1372px;
                    .page {
                        // width: 25%;
                        position: absolute;
                        width: 100%;
                        // height: 100%;
                        display: none;
                        transition: margin-left 0.3s ease-in-out;
                        &.active {
                            display: block;
                            // transition: .5s;
                        }
                        .navigation {
                            display: none;
                        }
                        .page-header {
                            margin: 0 auto 30px;
                            width: 75%;
                            .page-main-header {
                                font-weight: 700;
                                font-size: 20px;
                                line-height: 24px;
                            }
                            .page-sub-header {
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                margin-top: 10px;
                            }
                        }
                        .field {
                            width: 100%; //330px
                            height: 45px;
                            margin: 45px 0;
                            display: flex;
                            align-items: center;
                            position: relative;
                            flex-wrap: wrap;
                        }
                        .btns {
                            // display: flex;
                            // justify-content: space-between;
                            // margin-top: 20px;
                            button {
                                position: absolute;
                                bottom: 0px;

                                min-width: 178px;
                                padding: 15px;
                                cursor: pointer;
                                border: none;

                                color: #fff;
                                font-size: 18px;
                                font-weight: 500;
                                letter-spacing: 1px;
                                text-transform: uppercase;

                                transition: 0.5s ease;
                                background: linear-gradient(132.5deg, #e622bd 13.14%, #3830de 88.66%);
                                border-radius: 50px;
                                outline: none;
                                &:hover {
                                    color: #fff;
                                    background: transparent;
                                    -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
                                    -moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
                                    box-shadow: inset 0px 0px 0px 1px #ffffff;
                                }
                                &.prev {
                                    // margin-right: 3px;
                                    font-size: 17px;
                                    left: 0;
                                }
                                &.next,
                                &.submit-modal {
                                    // margin-left: 3px;
                                    right: 0;
                                    // margin-left: auto;
                                }
                            }
                        }
                    }
                }
            }
            .model-progress-bar {
                display: flex;
                margin: 40px 65px 14px;
                user-select: none;
                .step {
                    text-align: center;
                    width: 100%;
                    position: relative;
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        text-transform: uppercase;
                    }
                    .bullet {
                        height: 50px;
                        width: 50px;
                        border: 1px solid #ffffff;
                        display: inline-block;
                        border-radius: 50%;
                        position: relative;
                        transition: 0.2s;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 25px;
                        .bullet-circle {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
                            border-radius: 50%;
                            width: 34px;
                            height: 34px;
                            opacity: 0;
                        }
                        &.active {
                            .bullet-circle {
                                opacity: 1;
                            }
                            // &:after {
                            //     background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
                            //     transform: scaleX(0);
                            //     transform-origin: left;
                            //     animation: animate 0.3s linear forwards;
                            // }
                        }
                        &:after {
                            position: absolute;
                            content: "";
                            bottom: 50%;
                            transform: translateY(-50%);
                            left: 120%;
                            // height: 0px;
                            width: 167px;
                            // background: #262626;
                            border-top: 1px dashed #ffffff;
                        }
                    }
                    &:last-child .bullet:before,
                    &:last-child .bullet:after {
                        display: none;
                    }
                }
            }
        }
    }
    .request-success-popup__border {
        width: 560px;
        height: 334px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        // margin: auto;
        animation: notificationShow 0.2s linear;
        color: #ffffff;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
        @include borderBiz-2(10px);
        overflow: hidden;
        .request-success-popup {
            z-index: -1;
            padding: 50px;
            background: linear-gradient(307.16deg, #1b0441 -4.15%, #521698 75.22%);
            .close-modal {
                position: absolute;
                top: 15px;
                right: 15px;
                color: #b9a3df;
                width: 35px;
                height: 35px;
                font-size: 35px;
                cursor: pointer;
            }
        }
    }
}

.page {
    &.step-1 {
        height: 1372px;
    }
    &.step-2 {
        height: 850px;
    }
    &.step-3 {
        height: 460px;
    }
    &.step-4 {
        height: 588px;
    }
    .page-body {
        padding: 0 160px;
        .page-form {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 8px;
                padding: 2px;
                background: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
            }

            // border: 2px solid;
            // border-image-source: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
            // border-image-slice: 1;

            padding: 32px 114px;
            justify-content: flex-start;
            text-align: left;
            .field {
                margin: 16px 0 !important;
                &:last-child {
                    margin: 16px 0 0 !important;
                }
                &:first-child {
                    margin: 0 0 16px !important;
                }
                &.field-lg {
                    margin: 32px 0 !important;
                }
                &.field-lg-bottom {
                    margin: 0 0 40px !important;
                }
                .upload-logo {
                    position: relative;
                    width: 72px;
                    height: 72px;
                    background: linear-gradient(360deg, #1b0441 14.71%, #521698 92.65%);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
                    margin-left: 7px;
                    border: 2px solid;
                    border-image-slice: 1;
                    border-image-source: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
                    // @include borderBiz(0,linear-gradient(360deg, #1b0441 14.71%, #521698 92.65%));
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        max-width: 85%;
                    }
                    // #step-4__logo{
                    //     margin: auto;
                    // }
                    i {
                        position: absolute;
                        right: 3px;
                        top: 3px;
                        opacity: 0.5;
                    }
                }
                .borderBiz-2 {
                    @include borderBiz-2(4px);
                    position: relative;
                    .warning-message {
                        position: absolute;
                        bottom: -18px;
                        left: 2px;
                        font-size: 10px;
                        opacity: 0;
                        &.display {
                            opacity: 1;
                        }
                    }
                }
                .business-div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .business-logo {
                        margin-right: 10px;
                        width: 40px;
                    }
                    .business-name {
                        height: 100%;
                        margin-bottom: 10px;
                    }
                }
                .field-input {
                    background: #1b0441;
                    color: #fff;
                    border-radius: 4px;
                    border: none;
                    padding: 6px 9px;
                    outline: none;
                }
                .label {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    span {
                        color: yellow;
                    }
                }
                // select {
                //     width: 100%;
                //     padding-left: 10px;
                //     font-size: 17px;
                //     font-weight: 500;
                //     .step-3__options {
                //         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.25);
                //         @include borderBiz-2(6px);
                //     }
                // }
            }
        }
    }
}

.request-success-popup__border {
    .request-success-popup {
        padding: 45px 55px;
        .success-icon {
            width: 89px;
            height: 89px;
            background: linear-gradient(317.46deg, #6e34cd 4.18%, #c10297 92.02%);
            border-radius: 50%;
            margin: 20px auto 40px;
            i {
                background: linear-gradient(180deg, #fff7ff 0%, #ff8eff 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                width: 100%;
                height: 100%;
                line-height: 89px;
                font-size: 50px;
                &::before {
                    margin: auto;
                }
            }
        }
        .success-message {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

// .borderBiz-2{
//     background-image: linear-gradient(84.21deg, #3755f0 33.93%, rgba(192, 2, 151, 0.65) 67.02%);
//     padding: 2px;
//     border-radius: 4px;
//     .borderBiz-2-child{
//         width: 100%;
//         height: 100%;
//         border-radius: inherit;
//     }
// }

.hide {
    display: none;
}
.opa-0 {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
}

@keyframes notificationShow {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes modelShow {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 10%;
        opacity: 1;
    }
}

::selection {
    color: #fff;
    background: #d43f8d;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
