.price-table-popup {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    // overflow: auto;
    z-index: 11;
    .price-table-popup__border {
        // width: 1164px;
        // height: 932px;
        width: calc(100% - 80px);
        max-height: calc(90% - 70px);
        height: 100%;
        max-width: 400px;

        position: relative;
        top: 10%;
        z-index: -1;
        margin: auto;
        // margin-bottom: 200px;
        animation: modelShow 0.2s linear;
        color: #ffffff;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        @include borderBiz-2(10px);
        .price-table-popup__inner {
            z-index: -1;
            background: linear-gradient(307.16deg, #1b0441 -4.15%, #521698 75.22%);

            padding: 15px 10px;

            font-size: 13px;
            font-weight: 600;
            line-height: 1;

            .price-table-window {
                position: relative;
                display: none;
                flex-direction: column;
                height: 100%;
                &.active {
                    display: flex;
                }
                .price-table-window__row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;

                    // flex-direction: column;

                    .price-table-window__row_categories-title {
                        color: rgba(82, 92, 105, 0.56);
                        font-size: 11px;
                    }
                }
                .price-table-window__sidebar {
                    flex: 1 0 calc(50% - 10px);
                    max-width: calc(50% - 10px);
                    width: 100%;
                    margin-left: 10px;
                    margin-right: 0;
                }
                .price-table-window__sidebar_sub {
                    padding-left: 10px;
                    .price-table-window-sidebar__message {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .price-table-window__body {
                    flex: 1 0 50%;
                    max-width: 50%;
                    width: 50%;
                    .price-table-window__columns {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .price-table-window__column {
                            flex: 1 0;
                            max-width: 160px;
                            padding: 0 5px;
                            .price-table-window-body {
                                .price-table-window-body__content {
                                    width: 100%;
                                    text-align: center;
                                    .price-table-window-body__message {
                                        font-weight: 500;
                                        line-height: 1;
                                    }
                                    .price-table-icon {
                                        width: 0;
                                        height: 0;
                                        margin: auto;
                                        padding: 8px;
                                        background-position: 50% 50%;
                                        background-size: 14px;
                                        background-repeat: no-repeat;
                                    }
                                    .price-table-icon_check {
                                        // background-size: 12px;
                                        background-image: url("../../img/Popup_TablePrice/check.png");
                                    }
                                    .price-table-icon_uncheck {
                                        // background-size: 12px;
                                        background-image: url("../../img/Popup_TablePrice/uncheck.png");
                                    }
                                }
                            }
                        }
                    }
                }
                .price-table-window__prologue {
                    flex: 0 0 auto;
                    margin-bottom: 3px;
                    padding-bottom: 13px;
                    border-bottom: 2px solid;
                    border-image-source: linear-gradient(99.56deg, #3755f0 13.92%, #c00297 36.81%);
                    border-image-slice: 1;
                    .price-table-window__header {
                        font-size: 19px;
                        font-weight: 600;
                        line-height: 1;
                    }
                    .price-table-window-header_center {
                        display: flex;
                        justify-content: center;
                        .price-table-window-header__product {
                            margin: 0 auto;
                            padding: 10px 5px;
                            max-width: 160px;
                            min-width: 150px;
                            background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
                            border-radius: 30px;
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 1;
                            text-align: center;
                        }
                    }
                }
                .price-table-window__content {
                    flex: 1;
                    height: 100%;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 4px;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #c10297;
                        border-radius: 4px;
                    }
                    .price-table-window__row {
                        padding: 7px 0;
                        border-radius: 5px;
                    }
                    .price-table-window-sidebar__content {
                        display: inline;
                        .price-table-window-sidebar__message {
                            display: inline;
                            line-height: 1.25;
                        }
                        .price-table-window-sidebar__message_tooltip {
                            cursor: pointer;
                        }
                    }
                }
                .price-table-window__order {
                    margin-top: 15px;
                    flex: 0 0 auto;
                    text-align: center;
                    .price-table-window-order__button {
                        position: relative;
                        display: inline-block;
                        min-width: 100px;
                        margin: auto;
                        padding: 12px;
                        border: none;
                        background: linear-gradient(132.5deg, #e622bd 13.14%, #3830de 88.66%);
                        border-radius: 50px;
                        outline: none;

                        color: #fff;
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        line-height: 1;
                        text-align: center;
                        text-transform: uppercase;
                        text-decoration: none;
                        vertical-align: middle;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: #fff;
                            background: transparent;
                            -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
                            -moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
                            box-shadow: inset 0px 0px 0px 1px #ffffff;
                        }
                    }
                }
                .price-table-window__control {
                    .price-table-window-control {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        .price-table-window-control__nav_prev,
                        .price-table-window-control__nav_next {
                            position: relative;
                            width: 55px;
                            height: 90px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }
                        .price-table-window-control__nav_next {
                            left: -10px;
                            background-image: url("../../img/Popup_TablePrice/nav_prev.png");
                            background-position: left center;
                            transform: translateX(-100%);
                        }
                        .price-table-window-control__nav_prev {
                            right: -10px;
                            background-image: url("../../img/Popup_TablePrice/nav_next.png");
                            background-position: right center;
                            transform: translateX(100%);
                        }
                    }
                }

                &.price-table-window_mobile {
                    display: none;
                    &.active {
                        display: flex;
                    }
                    .price-table-window__order {
                        .price-table-window__sidebar {
                            display: none;
                        }
                        .price-table-window__body {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        .close-popup {
            background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
            position: absolute;
            top: -30px;
            right: -30px;
            border-radius: 50%;
            cursor: pointer;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            i {
                color: #ffffff;
                width: 27px;
                height: 27px;
                font-size: 27px;
            }
        }
    }
}
