.slider{
    padding-top: 90px;
}
.header-main-banner {
    .header-main-banner__outer {
        display: flex;
        justify-content: center;
        padding: 50px 15px 33px;
        .header-main-banner__inner {
            max-width: 100%;
            width: 1155px;
            margin: 0 auto;
            .header-main-banner__header {
                margin-bottom: 20px;
                h1 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #ffffff;
                }
            }
            .header-main-banner__slider {
                margin: 5% auto;
                max-width: 1155px;
                position: relative;
                min-height: 370px;
                // background: linear-gradient(259.37deg, rgba(255, 251, 255, 0) -6.47%, #ffffff 85.58%);
                // mix-blend-mode: overlay;
                // opacity: 0.78;
                .banner-frame {
                    opacity: 0.3;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: auto;
                }
                .tabs {
                    display: flex;
                    justify-content: space-between;
                    // position: relative;
                    align-items: center;
                    max-width: 100%;
                    margin: 0 auto;
                    border-bottom: 1px solid #71559c;
                    .tab-item {
                        min-width: 80px;
                        padding: 20px 0;
                        background: transparent;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        position: relative;
                        margin: 0;
                        &.active {
                            background: linear-gradient(45deg, #364aff 14.64%, #fc54ff 85.36%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                        }
                        .tab-item__message {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            color: #fff;
                            text-align: center;
                        }
                        .tab-item__progress-bar {
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            width: 0px;
                            height: 2px;
                            background: linear-gradient(99.56deg, #3755f0 13.92%, #c00297 36.81%);
                            &.active {
                                width: 100%;
                            }
                            &.run-progress-bar {
                                animation: progres 4s linear;
                            }
                            @keyframes progres {
                                0% {
                                    width: 0%;
                                }

                                100% {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .navigation{
                        display: none;
                    }
                }

                

                .slide-mobile{
                    display: none;
                }

                .slide-content {
                    padding: 28px 0;

                    position: relative;
                    .slide {
                        color: #fff;

                        position: absolute;
                        width: 100%;
                        height: 100%;
                        clip-path: circle(0% at 0 50%);
                        ul {
                            padding-left: 20px;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 35px;

                            letter-spacing: 0.02em;

                            color: #ffffff;
                        }
                        &.active {
                            clip-path: circle(150% at 0 50%);
                            transition: 1s;
                        }
                        .slide-img {
                            img {
                                display: block;
                                width: 609px;
                            }
                        }
                    }
                }
            }
        }
    }
}
